.govuk-breadcrumbs {
  ol.govuk-breadcrumbs__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      color: var(--wp--preset--color--dark);
      &:not(:first-of-type) {
        margin-left: .625em;
        padding-left: .9784375em;
      }
    }
  }
}
