//Page list
.hdg-contents-list {
  &__title {
    margin: 0;
    font-weight: normal;
  }
  ol.hdg-contents-list__list {
    list-style-type: none;
    margin: var(--wp--custom--spacing--gap) 0 0;
    padding: 0;
    li {
      &:before {
        display: inline-block;
        content: "—";
        font-weight: normal;
        margin-inline-end: var(--wp--custom--spacing--sm);
      }
      &.current_page_item {
        > a {
          text-decoration: none;
          &:visited {
            color: var(--wp--preset--color--dark);
          }
        }
        font-weight: $bold;
        color: var(--wp--preset--color--dark);
      }
    }
  }
}

//Content
.hdg-content-wrapper .entry-content > .entry-content > * {
  padding: 0;
}