//WP entry-content e.g. posts
.entry-content {
  //Hide empty paragraphs
  p:empty {
    display:none;
  }
  //Lists
  ul,
  ol {
    padding: 0;
    margin-inline-start: 0;
    list-style-type: disc;
    list-style-position: inside;
    li {
      margin: 0;
      padding: 0;
      ul, 
      ol {
        margin-block-start: 0;
      }
    }
  }
  ol {
    list-style-type: decimal;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  //Images
  .wp-block-image {
    width: 100%;
    height: auto;
    figure {
      width: 100%;
      margin: 0;
    }
    img,
    figcaption {
      width: 100%;
    }
    figcaption {
      font-size: 1rem;
      text-align: left;
      margin: 0;
      padding: var(--wp--custom--spacing--gap);
      color: var(--wp--preset--color--dark);
    }
    .alignright,
    .alignleft,
    .aligncenter {
      text-align: left;
      float: none;
      > figcaption {
        display: block;
      }
    }
  }
  // Embed
  .wp-block-embed {
    margin: var(--wp--custom--spacing--gap) 0;
    width: 100%;
    .wp-block-embed__wrapper {
      max-width: 100%;
    }
  }
  video,
  object,
  iframe {
    margin: 0;
    max-width: calc(100% - 40px);
  }
  //Seperator
  .wp-block-separator {
    margin: var(--wp--custom--spacing--gap) 0;
    @include mq($from: md) {
      margin: var(--wp--custom--spacing--gap) 0;
    }
    height: 1px;
    border: 0;
    border-bottom: 1px solid var(--wp--custom--color--border);
  }
  //Blockquote
  .wp-block-quote {
    position: relative;
    margin-inline: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
    quotes: "\201C""\201D";
    display: grid;
    grid-template-columns: 4ch 1fr;
    grid-template-rows: auto;
    &:before {
      font-family: 'Times New Roman', Times, serif;
      color: var(--wp--preset--color--dark);
      content: open-quote;
      font-size: 4rem;
      line-height: 1;
      grid-column: 1;
    }
    cite {
      grid-column: 2;
      position: relative;
      z-index: 2;
      @extend %hdg-body-sm;
    }
    p {
      grid-column: 2;
      z-index: 2;
      position: relative;
      text-indent: 0;
      @extend %hdg-body-md;
      &:last-child {
        margin: 0;
      }
    }
  }
}