//Page list
.hdg-contents-list {
  &__title {
    margin: 0;
    font-weight: normal;
  }
  ol.hdg-contents-list__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: var(--wp--custom--spacing--gap);
    margin: 0;
    padding: 0;
    li {
      @extend %hdg-heading-sm;
      font-weight: $bold;
      color: var(--wp--preset--color--dark);
      > a {
        text-decoration: none;
      }
      &.current_page_item {
        > a {
          text-decoration: underline;
          &:visited {
            color: var(--wp--preset--color--dark);
          }
        }
      }
    }
  }
}

//Content
.hdg-content-wrapper .entry-content > .entry-content > * {
  padding: 0;
}