.hdg-country {
    &__iso {
        display: block;
    }
    &__button {
        
    }
}

#svg-map {
	fill: none;
	width: 100%;
	height: auto;
}
#background {
	fill: none;
}

.landxx {
	stroke-width: 0.5;
	fill-rule: evenodd;
	fill: transparent;
	stroke: var(--wp--preset--color--dark);
    &.active {
        path {
            fill: var(--wp--preset--color--green);    
        }
    }
    &.highlight {
        path {
            fill: var(--wp--preset--color--pink);
            cursor: pointer;
        }
    }
}

.coastxx {
	stroke-width: 0.2;
}

.limitxx {
	opacity: 0;
	/* Change opacity to 1 to display all territories */
}

.antxx {
	opacity: 1;
	/* Change opacity to 0 to hide all territories */
}
/* Hover animation */
g,
path {
	transition: fill 0.24s ease-in-out;
}

.country-container {
    @include mq($from: lg) {
        min-width: 16rem;
    }
    h3 {
        > a {
            color: var(--wp--preset--color--dark);
        }
    }
    .hdg-button {
        color: var(--wp--preset--color--light);
        display: inline-block;
        width: fit-content;
        &:hover {
            color: var(--wp--preset--color--dark);
        }
    }
}