//Vars
$nav-height: toRem(120);

//Skip link
.govuk-skip-link:link, 
.govuk-skip-link:focus-visible {
  color: black !important;
  text-decoration: underline;
}

//Masthead
.hdg-masthead {
  margin: 0;
  padding: 0;
  z-index: 9999;
}

//Overlay
.hdg-wrapper {
  &:before {
    content: "";
    position: absolute;
    z-index: $z-highest-1; 
    background-color: var(--wp--preset--color--light);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility .25s cubic-bezier(.24,.26,.2,1),opacity .25s cubic-bezier(.24,.26,.2,1);
  }
}

.hdg-masthead-container {

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  //Align full
  max-width: 100%;
  grid-column: 1 / span 3 !important;
  padding: var(--wp--custom--spacing--gap);

  //Logo
  .hdg-masthead__logo {
    line-height: 1;
    @include mq($until: lg) {
      flex: 1;
    }
    > a {
      display: flex;
      align-items: center;
      text-decoration: none;
      &:visited {
        color: inherit;
      }
      &:focus-visible {
        outline: none;
        box-shadow: none;
        background-color: transparent;
        svg {
          fill: var(--wp--preset--color--focus);
        }
      }
    }

    .logo {
      width: calc($nav-height * 0.8);
      @include mq($from: lg) {
        width: $nav-height;
      }
      height: auto;
      margin:0 var(--wp--custom--spacing--gap) 0 0;
    }
    
  }

}

.hdg-nav {
  z-index: $z-low;
  display: flex;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 1000;
  .hdg-menu {
    list-style: none;
    padding: var(--wp--custom--spacing--gap);
    padding-block-start: var(--wp--custom--spacing--2-xl);
    display: flex;
    flex-direction: column;
    gap: var(--wp--custom--spacing--sm);
    .menu-item {
      font-size: var(--wp--preset--font-size--md); 
      font-weight: 800;
      text-align: left;
      max-width: 25ch;
      &:not(:last-of-type) {
        border-bottom: 2px solid var(--wp--preset--color--dark);
        padding-bottom: var(--wp--custom--spacing--sm);
      }
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .nav-close {
    box-shadow: none;
    font-weight: $bold;
    background-color: transparent;
    border:0;
    width: toRem(44);
    height: toRem(44);
    position: absolute;
    right: 1rem;
    top: 1rem;
    &:hover {
      cursor: pointer;
    }
    svg {
      height: toRem(44);
    }
  }
}

//Navigation Toggle
.nav-toggle {
  display: flex; 
  font-size: var(--wp--preset--font-size--lg);
  font-weight: 800;
  gap: var(--wp--custom--spacing--sm);
  .open {display: block;}
  margin: 0 0 0 auto;
  padding: 0;
  box-shadow: none;
  font-weight: $bold;
  background-color: transparent;
  border:0;
  width: fit-content;
  &:hover {
    cursor: pointer;
  }
  &:focus-visible {
    background-color: transparent;
    box-shadow: none;
    outline: var(--wp--preset--color--dark) solid var(--outline-size);
  }
  svg {
    padding: 0.625rem;
    height: toRem(64);
    background: linear-gradient(90deg, rgba(var(--color4), 0.5) 0, rgba(var(--color3), 0.7) 50%) no-repeat;
  }
}

.hdg-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  @include mq($from: lg) {
    width: 30rem;
  }
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transform: translateX(100%); // Initially hide the sidebar off-screen
  transition: transform 0.3s ease-in-out; // Add transition for smooth animation
  z-index: 1000; // Ensure the sidebar is above other content

  &.hdg-translate-x-0 {
    transform: translateX(0); // Show the sidebar
  }

  &.hdg-translate-x-full {
    transform: translateX(100%); // Hide the sidebar
  }
}