.hdg-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

//Anchor the footer to the bottom of the page
.hdg-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//Page layout
.hdg-masthead, 
.entry-header, 
.entry-content, 
.entry-footer, 
.entry-wrapper {
  padding:0;
  max-width: 100%;
  display: grid;
  grid-template-columns: $fluid-container;
  > * {
    grid-column: 2 / span 1;
  }
}

//Page layout
.hdg-content-wrapper {
  .entry-header, 
  .entry-content {
    > *:where(:not(.hdg-hero)) {
      max-width: var(--wp--custom--width--content);
      width: 100%;
      margin-inline: auto;
      padding-inline: var(--wp--custom--spacing--md);
    }
  }
}

//Page layout w/ sidebar
.entry-wrapper {
  &:has(.entry-sidebar) {
    --wp--custom--width--container: 80rem;
  }
  &__inner {
    display: grid;
    gap: var(--wp--custom--spacing--xl);
    @include mq($from: lg) {
      grid-template-columns: var(--sidebar-width-fluid) 1fr;  
    }
  }
}

//Add a little space to the content blockk
.entry-content {
  padding-block-end: var(--wp--custom--spacing--gap);
}

//Pages
.hdg-page {
  .entry-content, 
  .entry-main {
    .wp-block-heading:  {
      margin-block-start: var(--wp--custom--spacing--xl) !important;
    }
    .hdg-page-header__title + h2.wp-block-heading {
      margin-block-start: var(--wp--custom--spacing--md) !important;
    }
  }
}


//Blocks page - add some extra spacing
.hdg-wrapper:has(.hdg-hero) {
  .hdg-masthead {
    position: absolute;
    top: 0;
    width: 100%;
    .admin-bar & {
      top: 32px;
    }
  }
  .hdg-hero {
    margin-block-end: var(--wp--custom--spacing--xl) !important;
  }
  .entry-content {
    margin: 0 !important;
  }
}
