.hdg-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

//Anchor the footer to the bottom of the page
.hdg-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//Page layout
.hdg-masthead, 
.entry-header, 
.entry-content, 
.entry-footer, 
.entry-wrapper {
  padding:0;
  max-width: 100%;
  display: grid;
  grid-template-columns: $fluid-container;
  > * {
    grid-column: 2 / span 1;
  }
}

//If has full width group
.wp-block-group.alignfull {
  grid-column: 1 / span 3 !important; 
  max-width: 100% !important;
  padding-block: var(--wp--custom--spacing--lg);
  margin-block: var(--wp--custom--spacing--xl) !important;
  @extend %glass;
  > * {
    max-width: var(--wp--custom--width--content);
    padding-inline: var(--wp--custom--spacing--md);  
    width: 100%;
    margin-inline: auto;
    position: relative;
    z-index: 1;
  }
}

.wp-block-group.is-layout-grid {
  .wp-block-safe-svg-svg-icon {
    .safe-svg-inside {
      width: toRem(60) !important;
      height: toRem(60) !important;
    }
    & ~ p {
      margin-block-start: 0;
    }
  }
}

//Page layout
.hdg-content-wrapper {
  .entry-header, 
  .entry-content {
    > *:where(:not(.hdg-hero)) {
      max-width: var(--wp--custom--width--content);
      width: 100%;
      margin-inline: auto;
      padding-inline: var(--wp--custom--spacing--md);
    }
  }
}

//Page layout w/ sidebar
.entry-wrapper {
  &:has(.entry-sidebar) {
    --wp--custom--width--container: 80rem;
  }
  &__inner {
    display: grid;
    gap: var(--wp--custom--spacing--xl);

    @include mq($from: lg) {
      grid-template-columns: var(--sidebar-width-fluid) 1fr;  
    }
    &.full {
      @include mq($from: lg) {
        grid-template-columns: 1fr;
      }
    }
    &:has(.wp-block-group.alignfull) {
      max-width: 100%;
      grid-column: 1 / span 3 !important;
      .entry-main {
        > * {
          max-width: var(--wp--custom--width--content);
          padding-inline: var(--wp--custom--spacing--md);  
          width: 100%;
          margin-inline: auto;
        }
        .wp-block-group.alignfull {
          max-width: 100% !important;
        }
      }
    } 
  }
}

//Add a little space to the content blockk
.entry-content {
  padding-block-end: var(--wp--custom--spacing--gap);
}

//Pages
.hdg-page {
  .entry-content, 
  .entry-main {
    .wp-block-heading:not(.hdg-card__heading):not(.slick-slide .wp-block-heading):not(.wp-block-column .wp-block-heading):not(.hdg-card-media__heading):not(.hdg-hero h2) {
      margin-block-start: var(--wp--custom--spacing--xl) !important;
    }
    .hdg-page-header__title + h2.wp-block-heading {
      margin-block-start: var(--wp--custom--spacing--md) !important;
    }
  }
}



//Countries
.page-template-template-countries {
  .entry-content {
    // width: 100%;
    // display: block;
    // max-width: 100%;
    .hdg-map {
      display: flex;
      flex-direction: column;
      @include mq($from: lg) {
        flex-direction: row;
      }
      max-width: 100%;
      gap: var(--wp--custom--spacing--gap);
      &__container {
        order: 2;
        @include mq($from: lg) {
          order: 1;
          max-width: 80%;
        }
      }
      &__regions {
        order: 1;
        @include mq($from: lg) {
          order: 2;
        }
      }
      &__regions-list, 
      &__countries-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      &__regions-list {
        display: flex;
        flex-direction: column;
        gap: var(--wp--custom--spacing--gap);
        margin-block-start: var(--wp--custom--spacing--lg);
      }
      &__regions-item {
        details {
          padding: 1rem;
          border-radius: var(--radius);
          margin-right: 4rem;
          &:hover {
            cursor: pointer;
          }
          summary {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: var(--wp--custom--spacing--gap);
            font-size: 1.2em;
            font-weight: bold;
            text-transform: uppercase;
            &::-webkit-details-marker, 
            &::marker {
              display: none;
              content: none;
            }
            svg {
              width: 4rem;
              height: 4rem;
              position: relative;
              right: -3rem;
              flex-shrink: 0;
            }
          }
          &[open] {

          } 
        }
      }
      &__regions-item--africa {
        $color: map-get(map-get($color-map, 1), background);
        $highlight: map-get(map-get($color-map, 1), highlight);
        details {
          background-color: $color;
          summary, .hdg-map__countries-item, button, p {
            color: $highlight;
          }
        }
      }
      &__regions-item--asia {
        $color: map-get(map-get($color-map, 4), background);
        $highlight: map-get(map-get($color-map, 4), highlight);
        details {
          background-color: $color;
          summary, .hdg-map__countries-item, button, p {
            color: $highlight;
          }
        }
      }
      &__regions-item--europe {
        $color: map-get(map-get($color-map, 2), background);
        $highlight: map-get(map-get($color-map, 2), highlight);
        details {
          background-color: $color;
          summary, .hdg-map__countries-item, button, p {
            color: $highlight;
          }
        }
      }
      &__regions-item--america, 
      &__regions-item--north-and-south-america {
        $color: map-get(map-get($color-map, 5), background);
        $highlight: map-get(map-get($color-map, 5), highlight);
        details {
          background-color: $color;
          summary, .hdg-map__countries-item, button, p {
            color: $highlight;
          }
        }
      }
      &__regions-item--oceania {
        // $color: map-get(map-get($color-map, 1), background);
        // $highlight: map-get(map-get($color-map, 1), highlight);
        $color: #d38420;
        $highlight: #f7e7d9;
        details {
          background-color: $color;
          summary, .hdg-map__countries-item, button, p {
            color: $highlight;
          }
        }
      }
      &__countries-list {
        display: flex;
        flex-direction: column;
        gap: 0.25em;
        margin-block-start: var(--wp--custom--spacing--gap);
      }
      &__countries-item {
        a {
          color: inherit;
        }
      }
      &__countries-popover {
        position: relative;
      }
      &__countries-popover-button {
        appearance: none;
        text-decoration: none;
        border: 0;
        background-color: transparent;
        font-weight: bold;
        &:hover {
          cursor: pointer;
        }
      }
      // &__countries-popover-content {
      //   position: absolute;
      //   z-index: 4;
      //   bottom: 100%;
      //   justify-content: center;
      //   align-items: center;
      //   flex-direction: column;
      //   width: 16rem;
      //   padding: 1rem;
      //   color: var(--wp--preset--color--dark);
      //   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      //   background: linear-gradient(-140deg, #cde0d1, #bfb2d1, #d8edf3, #edf6f2);
      //   &:before {
      //       @extend %gradient-border;
      //   }
      //   &.open {
      //     display: flex;
      //   }
      // }
    }
    #map {
      height: 65vh;
      width: 100%;
      margin: 0 auto;
      background: transparent;
      // &:before {
      //   content: "";
      //   position: absolute;
      //   inset: 0;
      //   border-radius: 15px;
      //   border: 10px solid transparent;
      //   background: linear-gradient(140deg, #9568aa, #d8edf3, #edf6f2) border-box;
      //   mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
      //   mask-composite: exclude;
      // }
      &:after {
        content: "";
        width: 40px;
        height: 40px;
        position: absolute;
        right: 20px;
        top: 20px;
        background-image: url('../../src/map/circle.svg');
      }
    }
  }
}

//Blocks page - add some extra spacing
body:not(.page-template-template-contents) .hdg-wrapper:has(.hdg-hero) {
  .hdg-masthead {
    position: absolute;
    top: 0;
    width: 100%;
    .admin-bar & {
      top: 32px;
    }
  }
  .hdg-hero {
    margin-block-end: var(--wp--custom--spacing--xl) !important;
  }
  .entry-content {
    margin: 0 !important;
  }
}

//Data tables
body:has(.wp-block-wpdatatables-wpdatatables-gutenberg-block) {
  .gradient-bg {
    height: auto !important;
  }
}
