#map-container {
	
}
#svg-map {
	fill: none;
	width: 100%;
	height: auto;
}
#background {
	fill: none;
}
text {
	text-anchor: middle;
	cursor: default;
	font-family: Arial, Helvetica, sans-serif;
}
.landxx {
	stroke-width: 0.5;
	fill-rule: evenodd;
	fill: transparent;
	stroke: var(--wp--preset--color--dark);
}

.landxx.active {
}

/* .landxx.active path {
	fill: var(--wp--preset--color--green);
}

.landxx.highlight path {
	fill: var(--wp--preset--color--pink);
	cursor: pointer;
} */

.coastxx {
	stroke-width: 0.2;
}

.limitxx {
	opacity: 0;
	/* Change opacity to 1 to display all territories */
}

.antxx {
	opacity: 1;
	/* Change opacity to 0 to hide all territories */
}
/* Hover animation */
g,
path {
	transition: fill 0.24s ease-in-out;
}