//404
.error404 {
  .hdg-menu-404 {
    margin-inline-start: var(--wp--custom--spacing--gap);
    ul {
      margin-inline-start: var(--wp--custom--spacing--gap);
    }
  }
}

//Search
.search-results,
.search-no-results {
  .site-search__form {
    display: flex;
    .govuk-input {
      height: 45px;
    }
    .govuk-button {
      height: 45px;
      @extend %hdg-button;
      line-height: 45px;
      padding-top:0;
      padding-bottom:0;
      display: flex;
      align-items: center;
    }
    .icon-search {
      width: 20px;
      fill: white;
      display: inline-block;
    }
  }
}

.no-results {
  ul {
    margin-inline-start: var(--wp--custom--spacing--gap);
  }
}

.page-template-template-principles-alt {
  [x-data] {
    max-width: var(--wp--custom--width--container) !important;
  }
  h1#h-about-the-principles {
    margin-block-start: 0 !important;
    margin-block-end: var(--wp--custom--spacing--gap);
  } 
}