:root {

  /*Generic generate tokens*/
  --color-neon: #00FFD9;
  --color-blue: #081248;
  --color-teal: #10827B;
  --color-dark: #000000;
  --color-light: #FFFFFF;
  --color-alt: #FAFBFC;
  --space-xs: clamp(0.25rem, 0.16rem + 0.45vw, 0.5rem);
  --space-sm: clamp(0.5rem, 0.32rem + 0.91vw, 1rem);
  --space-md: clamp(1rem, 0.82rem + 0.91vw, 1.5rem);
  --space-lg: clamp(1.5rem, 1.32rem + 0.91vw, 2rem);
  --space-xl: clamp(2rem, 1.82rem + 0.91vw, 2.5rem);
  --space-2xl: clamp(2.5rem, 2.32rem + 0.91vw, 3rem);
  --space-3xl: clamp(3rem, 2.64rem + 1.82vw, 4rem);
  --space-4xl: clamp(4rem, 3.64rem + 1.82vw, 5rem);
  --space-5xl: clamp(5rem, 4.64rem + 1.82vw, 6rem);
  --space-nav: clamp(1.5rem, 0.86rem + 3.18vw, 3.25rem);
  --space-1-2: clamp(0.25rem, 0.16rem + 0.45vw, 0.5rem);
  --space-2-3: clamp(0.5rem, 0.32rem + 0.91vw, 1rem);
  --space-3-4: clamp(1rem, 0.91rem + 0.45vw, 1.25rem);
  --space-3-5: clamp(1rem, 0.82rem + 0.91vw, 1.5rem);
  --space-4-5: clamp(1.25rem, 1.16rem + 0.45vw, 1.5rem);
  --space-5-6: clamp(1.5rem, 1.32rem + 0.91vw, 2rem);
  --space-7-8: clamp(2rem, 1.82rem + 0.91vw, 2.5rem);
  --space-8-9: clamp(2.5rem, 2.32rem + 0.91vw, 3rem);
  --space-9-10: clamp(3rem, 2.64rem + 1.82vw, 4rem);
  --space-small-large: clamp(6.25rem, 3.98rem + 11.36vw, 12.5rem);
  --space-cta: clamp(2rem, 0.91rem + 5.45vw, 5rem);
  --space-stroke: clamp(0.375rem, 0.15rem + 1.14vw, 1rem);
  --space-nudged: clamp(4rem, 3.27rem + 3.64vw, 6rem);
  --space-nudged-offset: clamp(5.75rem, 4.75rem + 5.00vw, 8.5rem);
  --space-sidebar: clamp(18rem, 16.55rem + 7.27vw, 22rem);
  --font-size-type-xs: clamp(2rem, 1.27rem + 3.64vw, 4rem);
  --font-size-type-sm: clamp(2rem, 1.64rem + 1.82vw, 3rem);
  --line-height-line-height-body: clamp(1.5rem, 1.39rem + 0.57vw, 1.8125rem);
  --line-height-line-height-intro: clamp(1.5rem, 1.41rem + 0.45vw, 1.75rem);
  --line-height-line-height-lg: clamp(1.5rem, 1.41rem + 0.45vw, 1.75rem);
  --line-height-line-height-xl: clamp(1.75rem, 1.66rem + 0.45vw, 2rem);
  --line-height-line-height-2xl: clamp(2rem, 1.82rem + 0.91vw, 2.5rem);
  --line-height-line-height-3xl: clamp(2.5rem, 2.14rem + 1.82vw, 3.5rem);

  /*Utopia generated tokens*/
  --space-3xs: clamp(0.25rem, 0.2331rem + 0.0847vi, 0.3125rem); //4px - 5px
  --space-2xs: clamp(0.5625rem, 0.5456rem + 0.0847vi, 0.625rem); //9px - 10px
  --space-xs: clamp(0.8125rem, 0.7786rem + 0.1695vi, 0.9375rem); //13px - 15px
  --space-s: clamp(1.0625rem, 1.0117rem + 0.2542vi, 1.25rem); //17px - 20px
  --space-m: clamp(1.625rem, 1.5572rem + 0.339vi, 1.875rem); //26px - 30px
  --space-l: clamp(2.125rem, 2.0233rem + 0.5085vi, 2.5rem); //34px - 40px
  --space-xl: clamp(3.1875rem, 3.035rem + 0.7627vi, 3.75rem); //51px - 60px
  --space-2xl: clamp(4.25rem, 4.0466rem + 1.0169vi, 5rem); //68px - 80px
  --space-3xl: clamp(6.375rem, 6.0699rem + 1.5254vi, 7.5rem); //102px - 120px
  --space-3xs-2xs: clamp(0.25rem, 0.1483rem + 0.5085vi, 0.625rem); //4px - 10px
  --space-2xs-xs: clamp(0.5625rem, 0.4608rem + 0.5085vi, 0.9375rem); //9px - 15px
  --space-xs-s: clamp(0.8125rem, 0.6939rem + 0.5932vi, 1.25rem); //13px - 20px
  --space-s-m: clamp(1.0625rem, 0.8422rem + 1.1017vi, 1.875rem); //17px - 30px
  --space-m-l: clamp(1.625rem, 1.3877rem + 1.1864vi, 2.5rem); //26px - 40px
  --space-l-xl: clamp(2.125rem, 1.6843rem + 2.2034vi, 3.75rem); //34px - 60px
  --space-xl-2xl: clamp(3.1875rem, 2.696rem + 2.4576vi, 5rem); //51px - 80px
  --space-2xl-3xl: clamp(4.25rem, 3.3686rem + 4.4068vi, 7.5rem); //68px - 120px
  --space-s-l: clamp(1.0625rem, 0.6727rem + 1.9492vi, 2.5rem); //17px - 40px
  --space-s-2xl: clamp(1.0625rem, -0.0053rem + 5.339vi, 5rem); //17px - 80px
  --step-5: clamp(2.6438rem, 1.9501rem + 3.4687vi, 5.202rem); //42.3014px - 83.2316px
  --step-4: clamp(2.2032rem, 1.74rem + 2.316vi, 3.9113rem); //35.2512px - 62.5801px
  --step-3: clamp(1.836rem, 1.5364rem + 1.498vi, 2.9408rem); //29.376px - 47.0527px
  --step-2: clamp(1.53rem, 1.3453rem + 0.9236vi, 2.2111rem); //24.48px - 35.378px
  --step-1: clamp(1.275rem, 1.1699rem + 0.5254vi, 1.6625rem); //20.4px - 26.6px
  --step-0: clamp(1.0625rem, 1.0117rem + 0.2542vi, 1.25rem); //17px - 20px
  --step--1: clamp(0.8854rem, 0.8707rem + 0.0738vi, 0.9398rem); //14.1667px - 15.0376px
  --step--2: clamp(0.7067rem, 0.7463rem + -0.0423vi, 0.7378rem); //11.8056px - 11.3065px
 
}