//Accordion block
.hdg-accordion {
    .govuk-accordion {
      margin: 0;
    }
    .govuk-accordion__section-header {
      font-size: var(--wp--preset--font-size--md);
      line-height: var(--wp--custom--typography--line-height--body);
      border-color: var(--wp--custom--color--border);
    }
    .govuk-accordion__section-toggle, 
    .govuk-accordion__section-heading {
      margin: 0;
    }
    .govuk-accordion__show-all, .govuk-accordion__section-toggle {
      color: var(--wp--preset--color--primary);
    }
    .govuk-accordion__section {
      padding: 0;
    }
    .govuk-accordion__section-button {
      @extend %hdg-heading-md;
      margin: 0;
      padding-bottom: 0;
      &:focus-visible {
        background-color: var(--wp--preset--color--focus);
        box-shadow: 0 -2px var(--wp--preset--color--focus), 0 4px  var(--wp--preset--color--dark);
      }
    }
    .govuk-accordion__show-all:focus-visible, 
    .govuk-accordion__section-button:focus-visible {
      .govuk-accordion-nav__chevron:after {
        color: var(--wp--preset--color--focus);
      }
    }
    .govuk-accordion__section-content {
      padding-top: 0;
    }
}