//Banner block
.sigur-banner {

    //Align full
    max-width: 100%;
    grid-column: 1 / span 3 !important;

    .acf-innerblocks-container {
        @include stack($gap);
        h2 {
          --buffer: 0;
        }
    }

    &.has-background, 
    &.has-image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      grid-column: 2 / span 1;

      h2 {
        @extend %sigur-heading-lg;
      }

      h2, h3, p {
        color:inherit;
      }

      .sigur-banner__wrapper {
        position: relative;
        z-index:2;
        display: grid;
        //Then create a subgrid
        grid-template-columns: 1fr minmax(min-content, var(--wp--custom--width--container)) 1fr;
        .sigur-banner__inner {
          //Snap back to our container
          grid-column: 2 / span 1;
          padding-block:var(--wp--custom--spacing--gap);
        }
      }
      
    }

    //Block style varients - styles in block.json
    &.is-style-monochrome {
      .block__background img {
        filter: grayscale(100%) contrast(200%);
      }
    }
    
}