.carousel-container {
}
.carousel {
    display: flex;
    button {
        border: none;
        -webkit-appearance: none;
        background-color: transparent;
        svg {
            width: 3rem;
            color: black;
            fill: none;
        }
        &.disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
        &:hover {
            cursor: pointer;
        }
    }
    .carousel-items {
        overflow-x: scroll; 
        display: flex;
        list-style: none;
        width: 100%;
        max-width: var(--wp--custom--width--content);
        .carousel-item {
            box-sizing: border-box;
            padding: var(--wp--custom--spacing--sm) var(--wp--custom--spacing--2-xs);
            width: 20%;
            flex: 0 0 auto; /* Prevent items from shrinking */
            figure {
                box-sizing: border-box; 
                padding-inline: var(--wp--custom--spacing--xs);
                display: flex;
                background-color: var(--wp--preset--color--light);
                height: auto;
                align-items: center;
                justify-content: center;
                aspect-ratio: 1 / 1;
                img {
                    max-width: 4rem;
                    height: auto;
                }
            }
        }
    }
}