
//Hero block
.hdg-hero {

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--wp--preset--color--dark);
    min-height: 25rem;

    //Align full
    max-width: 100%;
    grid-column: 1 / span 3 !important;

    .acf-innerblocks-container {
      @include stack($gap);
      max-width: var(--wp--custom--width--lede);
      margin-inline: auto;
    }

    h1, h2 {
      @extend %hdg-heading-xl;
    }

    h1, h2, p {
      color:inherit;
      text-align: center;
    }

    p {
      font-size: var(--wp--preset--font-size--lg);
      text-align: center;
    }

    &__wrapper {
      z-index:2;
      @extend %hdg-container;
      padding: var(--wp--custom--spacing--lg) var(--wp--custom--spacing--md);
      //Offset the menu as this is a fixed position
      margin-block-start: 6.25rem; //100px
    }

    &__logo {
      img {
        max-width: 5rem;
        margin-inline: auto;
      }
    }

    &.has-image {
      background-size: cover;
      background-position: 0 50%;
      //Aspect ratios
      aspect-ratio: 10 / 16;
      @include mq($from: xl) {
        aspect-ratio: initial;
        height: 65vh;
      }
    }

    &.has-video {
      
    }

    &.has-logo {
        
    }

    //Block style varients - styles in block.json

    &.is-style-top {
      align-items: flex-start;
    }

    &.is-style-bottom {
      align-items: flex-end;
    }


    &.is-style-monochrome {
      .block__background img {
        filter: grayscale(100%) contrast(200%);
      }
    }
     
  }
