html { font-family: var(--wp--preset--font-family--body), Helvetica, Arial, sans-serif; }

//Global
html {
  font-size: 100%;
}

body {
  font-family: var(--wp--preset--font-family--body);
  font-weight: 600;
  font-size: var(--wp--preset--font-size--body); 
  line-height: var(--wp--custom--typography--line-height--body);
  letter-spacing: 1rem * 0.02;
  word-spacing: 1rem * 0.04;
  text-align: left;
  background-color: #fafcfa;
  color: var(--wp--preset--color--dark);
  overflow-y: scroll;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-optical-sizing: auto;
  font-variant-ligatures: common-ligatures no-discretionary-ligatures no-historical-ligatures contextual;
  font-kerning: normal;
}

//Note some of the typographic defaults have originated from here https://github.com/clagnut/TODS

//Reset all the margins
body, h1, h2, h3, h4, h5, h6, address, p, hr, pre, blockquote, ol, ul, li, dl, dt, dd, figure, figcaption, div, table, caption, form, fieldset {
  margin: 0;
}

//Margin-block-start approach
:is( h1, h2, h3, h4, h5, h6 ) {
  //Reset browser defaults - we avoid reseting the top margin as this is coverted by template literals
  margin-block: 0;
  font-variant-numeric: lining-nums;
  // text-transform: uppercase;
  font-weight: 800;
  + p {
    margin-block-start: var(--wp--custom--spacing--gap);
  }
}


:is(h2):not(:empty) {
    &:before {
      background: linear-gradient(
      to right, 
      #4a30f2 0%, 
      #4a30f2  20%, 
      #da9ff0 20%, 
      #da9ff0 40%, 
      #085939 40%, 
      #085939 60%, 
      #aef0a9 60%, 
      #aef0a9 80%,
      #611ca6 80%, 
      #611ca6 100%
    );
    height: 5px;
    width: 4rem;
    content: "";
    display: block;
    margin-block-end: var(--wp--custom--spacing--xs) !important;
  }
}


//For H1, H2, H3, we use 2-up pairs for responsive typography 
//H1 >> extra-large - massive
//H2 >> large - huge
//H3 >> medium - extra-large

//Line heights are unitless, e.g. 1.5

// H1
.hdg-heading-xl, 
%hdg-heading-xl {
  font-size: var(--wp--preset--font-size--xl);
  font-variant-ligatures: discretionary-ligatures; 
  font-size-adjust: 0.521;
  line-height: var(--wp--custom--typography--line-height--heading);
  letter-spacing: var(--wp--custom--typography--letter-spacing--heading);
  margin: 0;
}

// H2
.hdg-heading-lg, 
%hdg-heading-lg {
  font-size: var(--wp--preset--font-size--lg);
  line-height: var(--wp--custom--typography--line-height--heading);
  letter-spacing: var(--wp--custom--typography--letter-spacing--heading);
  margin: 0;
}

// H3
.hdg-heading-md, 
%hdg-heading-md {
  font-size: var(--wp--preset--font-size--lg);
  line-height: var(--wp--custom--typography--line-height--heading);
  letter-spacing: var(--wp--custom--typography--letter-spacing--heading);
  margin: 0;
}

// H4
.hdg-heading-sm, 
%hdg-heading-sm {
  font-size: var(--wp--preset--font-size--md);
  line-height: var(--wp--custom--typography--line-height--heading--sm);
  letter-spacing: var(--wp--custom--typography--letter-spacing--heading);
  margin: 0;
}

// H5 / H6
%hdg-heading-xs,
.hdg-heading-xs {
  font-size: var(--wp--preset--font-size--sm);
  line-height: var(--wp--custom--typography--line-height--body);
  letter-spacing: var(--wp--custom--typography--letter-spacing--heading);
  margin: 0;
}

%hdg-heading-2-xs,
.hdg-heading-2-xs {
  font-size: var(--wp--preset--font-size--sm);
}

.hdg-body, 
%hdg-body,
.govuk-body {
  font-weight: 600;
  font-size: var(--wp--preset--font-size--body); 
  line-height: var(--wp--custom--typography--line-height--body);
}

.hdg-body-lg, 
%hdg-body-lg {
  font-size: var(--wp--preset--font-size--lg);
  line-height: var(--wp--custom--typography--line-height--heading);
}

.hdg-body-md, 
%hdg-body-md {
  font-size: var(--wp--preset--font-size--md);
  line-height: var(--wp--custom--typography--line-height--body);
}

.hdg-body-sm, 
%hdg-body-sm {
  font-size: var(--wp--preset--font-size--sm);
  line-height: var(--wp--custom--typography--line-height--body);
}


.hdg-navigation, 
%hdg-navigation {
  font-size: var(--wp--preset--font-size--body);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
} 

ul,
ol {
  padding-left: 0;
  list-style-position: outside;
}


blockquote p {
  hanging-punctuation: first;
  text-indent: -5px;
}

strong, b, th { 
  font-weight: $bold;
  font-size-adjust: 0.514; 
}